body{
    background: #f3f3f3;
}
div.topbar{
    background: #7A9BA0;
    padding: 10px 10px;
    border-bottom:solid rgb(122, 140, 160) 1px;
}
div#body{
    margin-top: 10px;
}
div#sideright{
    float: right;
}
div.topbar ul.dropdown-menu{
    margin-right: 20px;
}
div.topbar div#sideleft a{
    color: #f1f1f1;
}
div.topbar div#sideleft a:hover{
    text-decoration-line: none;
    color: #f1f1f1;
}

div#body div#sideleft div.menu-de-opcoes{
    background: #f1f1f1;
    width: 300px;
    border-radius: 10px;
}
div#body div#sideleft div.menu-de-opcoes li{
    padding: 6px 9px;
    display: block;
    margin-left: -30px;
}
div#body div#sideleft div.menu-de-opcoes i{
    padding: 3px 12px;
}

div#body div#sideright{
    text-align: center;
    margin-bottom: 50px;
    background: #28884B;
    margin-top: -21%;
    height: 300px;
}
/*
@media (max-width:1200px){
    div#body div#sideright{
        background: #fff;
        width: 500px;
    }
}
@media (max-width:1000px){
    div#body div#sideright{
        background: #000;
        width: 500px;
    }
}*/